.kmt-header {
  &__license {

    &-wrapper {
      cursor: pointer;

      // ignoring the nesting warning as it's not actually a nested class (it's BEM)
      // scss-lint:disable NestingDepth
      &--mobile {
        .kmt-header {
          &__license-dropdown {
            padding: 0;
            position: relative;
            background-color: transparent;
          }

          &__license {
            &-label {
              color: oColorsGetPaletteColor("claret");
              &::after {
                @include oIconsGetIcon('arrow-up-down', oColorsGetPaletteColor('claret'), 12);
              }
            }


          }
        }
      }
    }

    &-label {
      position: relative;
      padding-right: 15px;
      color: oColorsGetPaletteColor("white");

      // ignoring the nesting warning as it's not actually a nested class (it's BEM)
      // scss-lint:disable NestingDepth
      &::after {
        @include oIconsGetIcon('arrow-up-down', oColorsGetPaletteColor('white'), 12);
        content: "";
        position: absolute;
        top: 3px;
        right: 0;
      }

      &:hover {
        color: oColorsGetPaletteColor("grey-tint2");

        &::after {
          @include oIconsGetIcon('arrow-up-down', oColorsGetPaletteColor('grey-tint2'), 12);
        }
      }


    }

    &-dropdown {
      display: none;
      margin-top: 1px;
      padding: 20px;
      position: absolute;
      background-color: oColorsGetPaletteColor("warm-4");
      cursor: auto;
      z-index: 1;

      // ignoring the nesting warning as it's not actually a nested class (it's BEM)
      // scss-lint:disable NestingDepth
      &--expanded {
        display: block;
      }

      select,
      option {
        @include oTypographySans(s);
        font-weight: inherit;
      }
    }
  }
}
