.kmt-header {
  &__license {

    &-wrapper {
      cursor: pointer;

      // ignoring the nesting warning as it's not actually a nested class (it's BEM)
      // scss-lint:disable NestingDepth
      &--mobile {
        .kmt-header {
          &__license-dropdown {
            padding: 0;
            position: relative;
            background-color: transparent;

            .kmt-forms__select {
              max-width: 100%;
              background: none;
            }

            option {
              padding: 12px 16px;
            }

            select,
            option {
              @include oTypographySans(s);
              background-color: oColorsGetPaletteColor("pink-tint2");
              color: oColorsGetPaletteColor("black");
              border: 0;
            }

            .kmt-forms-option--selected {
              background-color: oColorsGetPaletteColor("teal-1");
              color: oColorsGetPaletteColor("white");
            }
          }

          &__license {
            &-label {
              color: oColorsGetPaletteColor("claret");
              padding: 12px 16px;
              &::after {
                @include oIconsGetIcon('arrow-up-down', oColorsGetPaletteColor('claret'), 12);
                margin: 12px 16px;
              }
            }
            &-label--noIcon {
              padding: 12px 16px;
              color: oColorsGetPaletteColor('claret');
            }


          }
        }
      }
    }

    &-label {
      position: relative;
      padding-right: 15px;
      color: oColorsGetPaletteColor("white");
      font-weight: 400;

      // ignoring the nesting warning as it's not actually a nested class (it's BEM)
      // scss-lint:disable NestingDepth
      &::after {
        @include oIconsGetIcon('arrow-up-down', oColorsGetPaletteColor('white'), 12);
        content: "";
        position: absolute;
        top: 3px;
        right: 0;
      }

      &:hover {
        color: oColorsGetPaletteColor("grey-tint2");

        &::after {
          @include oIconsGetIcon('arrow-up-down', oColorsGetPaletteColor('grey-tint2'), 12);
        }
      }

    }

    &-label--noIcon {
      position: relative;
      font-weight: 400;
      cursor: auto;
    }

    &-dropdown {
      display: none;
      margin-top: 1px;
      padding: 19px 0 0;
      position: absolute;
      background-color: oColorsGetPaletteColor("warm-4");
      cursor: auto;
      z-index: 1;

      // ignoring the nesting warning as it's not actually a nested class (it's BEM)
      // scss-lint:disable NestingDepth
      &--expanded {
        display: block;
      }



      select,
      option {
        @include oTypographySans(s);
        font-weight: 400;
        font-size: 13px;
        background-color: oColorsGetPaletteColor("warm-4");
        color: oColorsGetPaletteColor("white");
        border: 0;
      }

      select {
        height: auto;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
      }
      option {
        padding: 11px 20px;

      }
      .kmt-forms-option--selected {
          background-color: oColorsGetPaletteColor("black");
      }
    }
  }
}
