# Dependency directory
node_modules
bower_components
public
test
test2
vendor

# Logs
logs
*.log
npm-debug.log*

# IDE directory
/.idea
.vscode

# Docker dependencies
system
docker-compose.yml

# configs
/.env
/config.js

.eslintrc.js
.editorconfig
pa11y_screenCapture
.eslintrc
.bowerrc

*.env*

.stylelintrc

dist

package-lock.json*
