<!DOCTYPE html>
<html class="core" lang="en-GB">
  <head>
    <title>KMT Header</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/page.css">
    <link rel="stylesheet" href="/kmt-header.css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default"></script>
  </head>
  <body>
    <div class="kat-root" id="root"></div>
  </body>
  <script src="/bundle.js"></script>
  <!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.dispatchEvent(new CustomEvent('kmt.DOMContentLoaded'));
    });
  </script> -->
  <script src="//origami-build.ft.com/v2/bundles/js?modules=o-header%407.0.4%3A%2Fdemos%2Fsrc%2Fmain.js%2Co-colors%40%5E4.0.0"></script>

  <!-- HOW TO MAKE IT PROPERLY -->
</html>
