<!DOCTYPE html>
<html class="core">
  <head>
    <title>KMT Header</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bundle.css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="/bundle.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.dispatchEvent(new CustomEvent('kmt.DOMContentLoaded'));
    });
  </script>
</html>
