$o-header-services-is-silent: false;
$o-forms-is-silent: false;

@import 'o-header-services/main';
@import 'o-forms/main';
@import 'o-buttons/main';
@import 'o-colors/main';

.licence-switcher__container {
	padding: 5px 0 0;
	margin-bottom: -7px;
	margin-top: -8px;
}

.licence-switcher__form {
	margin: 0;
	max-width: 250px;
	padding-left: 0;
	padding-right: 0;
}

.licence-switcher__submit {
	@include oButtons(big, primary);
}

.header__drawer-form-container {
	padding: 15px;
}

.header__drawer-form-container .o-forms__affix-wrapper {
	margin-top: 0;
}

.no-js .o-header__drawer {
	height: 100vh;
}

.o-header-services__primary-nav {
	border-bottom: 0;
}

.o-header-services__nav-link {
	border-bottom: 0;
}

.o-header-services__nav-list {
	display: table;
	width: 100%;
}

.o-header-services__nav-item--last {
	float: right;

	.o-header-services__nav-link {
		text-transform: none;
		font-weight: 400;
	}
}

@media (min-width: 740px) {
	.o-header__drawer {
		visibility: hidden;
	}
}

.o-header__drawer-tools-logo,
.o-header-services__ftlogo {
	border-bottom: 0;
}
