// @import './style/main';

$o-header-services-is-silent: false;
$o-forms-is-silent: false; // TODO: make this silent and only include mixins for the relevant form

@import 'o-header-services/main';
@import 'o-forms/main';
@import 'o-buttons/main';

.licence-switcher__container {
	padding: 5px 0 0;
	margin-bottom: -7px; // To provide consistent height when switcher doesn't exist
}

.licence-switcher__form {
	margin: 0;
}

.licence-switcher__submit {
	@include oButtons();
}

.o-header-services__nav-item--last {
	float: right;

	.o-header-services__nav-link {
		text-transform: none;
		font-weight: 400;
	}
}
