$o-header-is-silent: false;
$o-header-services-is-silent: false;
$o-forms-is-silent: false;

@import '../bower_components/o-header-services/main';
@import '../bower_components/o-forms/main';

html {
  height: 100%;
}

body {
  // Remove space around the document
  margin: 0;
  height: 100%;
}

// styles copied from .o-header-services__related-content > a
.o-header-services__related-content-link {
  text-decoration: none;
  display: inline-block;
  color: oColorsGetColorFor('o-header-services-top', text);
  margin: 0 $_o-header-services-padding-x;
  font-weight: 600;

  &:visited {
    color: oColorsGetColorFor('o-header-services-top', text);
  }

  &:hover {
    border-bottom: dotted white 1px;
  }
}

@import '../src/components/license-dropdown/style';
@import '../src/components/header-nav/style';
