$o-header-is-silent: false;
$o-header-services-is-silent: false;
$o-forms-is-silent: false;

@import '../bower_components/o-header-services/main';
@import '../bower_components/o-forms/main';

html {
  height: 100%;
}

body {
  // Remove space around the document
  margin: 0;
  height: 100%;
}

@import '../src/components/license-dropdown/style';
