$o-header-is-silent: false;
$o-header-services-is-silent: false;
$o-forms-is-silent: false;

@import '../bower_components/o-header-services/main';
@import '../bower_components/o-forms/main';

html {
  height: 100%;
}

body {
  // Remove space around the document
  margin: 0;
  height: 100%;
}

.o-header-services--b2b {
  .o-header-services__nav-link--selected {
    color: oColorsGetPaletteColor("warm-4");
    font-weight: bold;
  }
}

.o-header-services__nav-item {
  &:first-child {
    // align the first item with the logo
    margin-left: -10px;
  }
}

.o-header-services__related-content {
  padding-right: 0;
}

.o-header-services__related-content {
  > a:last-child {
    margin-right: 0;
  }
}

@import '../src/components/license-dropdown/style';
@import '../src/components/header-nav/style';
